// 白色主题样式
[data-theme="light"] {
    // filter: contrast(1);
    // --background: oklch(1 0 0);
    --background: #eae2cd;

    // --foreground: oklch(0.141 0.005 285.823);
    // --foreground: #444444;

    --border: var(--background);
    // --border: oklch(0.92 0.004 286.32);
    // --border-0: oklch(0.92 0.004 286.32);

    --card: oklch(1 0 0);
    --card-foreground: oklch(0.141 0.005 285.823);

    --popover: #eae2cd;
    --popover-foreground: oklch(0.141 0.005 285.823);
    --primary: oklch(24.884% 0.0015 16.221);
    --primary-foreground: oklch(100% 0.00011 271.152);

    --secondary: oklch(0.967 0.001 286.375);
    --secondary-foreground: oklch(0.21 0.006 285.885);
    --muted: oklch(100% 0.00011 271.152);

    --muted-foreground: oklch(0.552 0.016 285.938);
    --accent: oklch(88.297% 0.03223 82.742);
    --accent-foreground: oklch(0.21 0.006 285.885);
    --destructive: oklch(0.577 0.245 27.325);
    --input: oklch(0.92 0.004 286.32);
    --ring: #eb6e5b;
    --chart-1: oklch(0.811 0.111 293.571);
    --chart-2: oklch(0.606 0.25 292.717);
    --chart-3: oklch(0.541 0.281 293.009);
    --chart-4: oklch(0.491 0.27 292.581);
    --chart-5: oklch(0.432 0.232 292.759);

    // --sidebar: oklch(0.985 0 0);
    // --sidebar-foreground: oklch(0.141 0.005 285.823);
    // --sidebar-primary: oklch(0.541 0.281 293.009);
    // --sidebar-primary-foreground: oklch(0.969 0.016 293.756);
    // --sidebar-accent: oklch(0.967 0.001 286.375);
    // --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    // --sidebar-border: oklch(0.92 0.004 286.32);
    // --sidebar-ring: oklch(0.702 0.183 293.541);

    // --text-color: rgb(51, 51, 51);
    // --text-color-1: #000;
}
