.layout-container {
    width: 100%;
    height: calc(100vh);
    left: 0;
    top: 0;
    position: fixed;
    overflow: hidden;
    opacity: 1;
    --opacity: 1;
    --sidebar-width: 16rem;
    --sidebar-width-icon: 3rem;

}

video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.smooth-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
    background: transparent;
    backdrop-filter: blur(20px);
    transition: left 200ms linear;

}


.smooth-content {
    overflow: visible;
    height: 100%;
    width: 100%;
    padding: 10px;

    .gallery-scroll {
        border: 1px solid var(--border-0);
        border-radius: var(--radius);
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        background: transparent;

    }
}



.main-container {

    // height: calc(100vh - 20px);
    // margin: 10px;
    // border: 1px solid var(--border-0);
    // border-radius: var(--radius);
    // overflow: hidden;
    .main-content {
        // overflow: auto;
        // padding: 10px;
    }

}


// .layout-top-bar {
//     height: 60px;
//     position: fixed;
//     top: 0;
//     width: 100%;
//     z-index: 100;

//     .top-container {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         // padding: 0 20px;
//         height: 100%;
//         width: calc(100% - 304px);

//         .container-box {
//             display: flex;
//             align-items: center;
//             justify-content: space-between;

//             .font-medium {
//                 padding: 12px;
//             }
//         }
//     }
// }

.menu-sidebar {
    // width: 270px;
    border-style: none;
    // -webkit-mask:
    //     linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
    //     url(@/assets/noise/noise-01.png);

}

.menu-title {
    // color: var(--sidebar-foreground);
    // font-family: font;
    font-size: 12px;
    letter-spacing: 0.18em;
}


// .text-sidebar-foreground {
//     width: 230px;
// }

//滚动条初始化
// ::-webkit-scrollbar {
//   width: 0px;
//   border-radius: 10px;
// }

/* 隐藏滚动条样式 */
// .scrollbar-hide {
//     -ms-overflow-style: none;
//     /* IE and Edge */
//     scrollbar-width: none;
//     /* Firefox */
// }

// .scrollbar-hide::-webkit-scrollbar {
//     display: none;
//     /* Chrome, Safari and Opera */
// }