@font-face {
    font-family: "huangkaihuaLawyer";
    src: url("./Zh/Huang\ Kai\ Hua\ Lawyer.ttf");
}

@font-face {
    font-family: "xiaowei";
    src: url("./Zh/xiaowei.otf");
}

@font-face {
    font-family: "Gloria Hallelujah";
    src: url("./En/Gloria\ Hallelujah.woff2");
}

